.productDetailsDummy {
  background: #F2F2F2;
}

.details {
  background-color: rgb(248, 248, 248);
}

.details:hover:before {
  background-color: #E7E7E7;
}

.collapsed .details {
  background-color: rgb(248, 248, 248);
}

.collapsed .details:hover:before {
  background-color: #E7E7E7;
}